@model List<Product>

@if(Model.Count()>0)
{
    <form method="post">
        <br />
        <div class="backgroundWhiteBorder">
            <div class="container row">
                <div class="col -8">
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                <i class="fa fa-shopping-cart"></i> &nbsp;
                                Shopping Cart
                            </div>
                            <div class="col-6 text-end">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                                <a asp-action="Clean" asp-controller="ShoppingCart" class="btn btn-outline-warning btn-sm">Clean Cart</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-lg-2">
                                    </div>
                                    @if (User.IsInRole(WebConstants.AdminRole))
                                    {
                                        <div class="col-12 col-lg-3">
                                            Product Details
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-12 col-lg-7">
                                            Product Details
                                        </div>
                                    }
                                    @if (User.IsInRole(WebConstants.AdminRole))
                                    {
                                        <div class="col-12 col-lg-2">
                                            m &sup2
                                        </div>
                                        <div class="col-12 col-lg-2">
                                            Total
                                        </div>
                                    }
                                    <div class="col-12 col-lg-2">
                                        Price by  m &sup2
                                    </div>

                                    <div class="col-6 col-sm-4 col-lg-1">
                                    </div>
                                </div>
                            </div>

                            <hr />
                            @{var total = 0.0;}
                            @for(int i=0; i<Model.Count(); i++)
                            {
                                       <input hidden asp-for="@Model[i].Id" />
                                       <div class="row h-100">
                                            <div class="col-4 col-md-2 text-center py-2">
                                                <img src="@WebConstants.ImgRoute@Model[i].ImageUrl" class="rounded" width="100%" />
                                            </div>
                                            @if (User.IsInRole(WebConstants.AdminRole))
                                            {
                                                <div class="col-8 col-lg-3">
                                                    <h5>@Model[i].Name</h5>
                                                    <div style="font-size:11px;">@Html.Raw(Model[i].ShortDescription)</div>
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="col-8 col-lg-7">
                                                    <h5>@Model[i].Name</h5>
                                                    <div style="font-size:11px;">@Html.Raw(Model[i].ShortDescription)</div>
                                                </div>
                                        
                                            }

                                            @if (User.IsInRole(WebConstants.AdminRole))
                                            {
                                                 <div class="col-4 col-lg-2 pt-lg-4" style="font-size:11px;">
                                                    <input type="text" asp-for="@Model[i].TempSquareMeter" class="form-control" /> 
                                                </div>                                                 
                                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                                    <span style="font-size:17px;"> $@(Model[i].ProductPrice * Model[i].TempSquareMeter)</span>/ m &sup2
                                                </div>
                                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                                    <span style="font-size:17px;"> $@Model[i].ProductPrice</span>/ m &sup2
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                                    <span style="font-size:17px;"> $@Model[i].ProductPrice</span>/ m &sup2
                                                </div>
                                            }
                                            <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                                <a asp-action="Remove" asp-route-ID="@Model[i].Id"class="btn btn-outline-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                total += Model[i].ProductPrice * Model[i].TempSquareMeter;
                            }
                            @if (User.IsInRole(WebConstants.AdminRole))
                            {
                                <div class="col-12 text-end pr-4" style="color:#821f3d">
                                    Total: @string.Format("{0:c}",total);
                                </div>
                            }
                            <hr />
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 col-md-3 offset-md-6">
                                    @if (User.IsInRole(WebConstants.AdminRole))
                                    {
                                        <button type="submit" asp-action="UpdateShoppingCart" class="btn btn-info" formmethod="post">
                                            <span>Update Cart</span>
                                        </button>
                                    }
                                </div>
                                <div class="col-6 col-md-3">
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Continue</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

else
{
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container row">
            <div class="col -8">
                <div class="card mt-4">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-end">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3>You don't have any item in your cart</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

