@page
@model LoginModel

<div id="logreg-forms">
    <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Connect</h1>
    @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
            <div>
                <p>
                    There isn't third parties authentication services
                </p>
            </div>
        }
        else
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>

                @foreach (var provider in Model.ExternalLogins)
                {
                    @if (provider.Name.ToLower().Contains("facebook"))
                    {
                        <button type="submit" class="btn btn-block form-control"
                            name="provider" value="@provider.Name"
                            title="Connect with your @provider.DisplayName account">
                            <i class="fab fa-facebook-square"></i> @provider.DisplayName
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
            }
                </div>
            </form>
        }
    }

    <form id="account" method="post">
        @if (Model.ExternalLogins?.Count > 0)
        {
           <p style="text-align:center;">Or using an email</p>
        }
        <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" autocomplete="username" aria-required="true" />
        <input asp-for="Input.Password" placeholder="Password..." type="password" class="mb-1 form-control" autocomplete="current-password" aria-required="true" />
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-success btn-block">
            <i class="fas fa-sign-in-alt"></i> Log in
        </button>

        <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info">Forgot your password?</a>
        <div asp-validation-summary="All" class="text-danger"></div>

        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"
           class="btn btn-info text-white">Register as new user</a>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

