@page
@model RegisterModel
@using Rocosa

<div class="py-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                            @if (User.IsInRole(WebConstants.AdminRole))
                            {
                                    <strong>Registrar a New Admin User</strong>
                            }
                            else
                            {
                                    <strong>Register</strong>

                            }
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.FullName" placeholder="Full Name" class="form-control" autocomplete="nombres" aria-required="true" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.Email" placeholder="Email" class="form-control" type="email" autocomplete="Email" aria-required="true" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            <input asp-for="Input.PhoneNumber" placeholder="Phone Number" class="form-control" autocomplete="telefono" aria-required="true" />
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-row row py-2">
                            <div class="col-6">
                                <input asp-for="Input.Password" placeholder="Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" />                                
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" type="password" class="form-control" autocomplete="new-password" aria-required="true" />                                
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="py-2">
                            @if (User.IsInRole(WebConstants.AdminRole))
                            {
                                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning form-control">Register New Admin User</button>
                            }
                            else
                            {
                                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary form-control">Register</button>
                            }

                        </div>
                    </form>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <p>
                            By click on <em>Register</em> you are agree with terms <a href="" target="_blank">Service Terms</a>
                        </p>
                        <div class="row">
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    @if (provider.Name.ToLower().Contains("facebook"))
                                    {
                                                <button type="submit" class="btn btn-block facebook-btn form-control"
                                        name="provider" value="@provider.Name"
                                        title="Register with your @provider.DisplayName account">
                                                    <i class="fab fa-facebook-square"></i> @provider.DisplayName
                                                </button>
                                    }
                                    else
                                    {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Register using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }

                                }
                            </p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

